<app-navbar></app-navbar>
      <div class="purchasenow">
        <a class="button-circle button-circle-sm button-circle-dark" [routerLink]="['/cart', 'divers']">
          <i class="ti-shopping-cart"></i>
        </a>
        <div class="badge badge-danger" style="position: absolute;">{{cart}}</div>
      </div>
    
      <!-- Scroll to top button -->
      <div class="scrolltotop">
        <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
      </div>
      <!-- end Scroll to top button -->
    
      <!-- Fullscreen Search Form -->
      <div class="search-wrapper search-style-2">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
              <form class="form-style-5">
                <input class="font-large" type="text" placeholder="Search.." name="search" required>
                <button><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
      <!-- end Fullscreen Search Form -->
    
      <!-- Home section -->
      <div class="owl-carousel owl-nav-overlay owl-dots-overlay" style="clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
      " data-owl-autoplay="true" data-owl-nav="true" data-owl-dots="true" data-owl-items="1">
        <!-- Slider box 1 -->
        <div class="bg-image" style="background-image: url(../assets/images/kofty.png)">
          <div class="section-xl bg-black-05">
            <div class="container text-center">
              <h5 class="font-weight-light margin-bottom-20">Bienvenue</h5>
              <h1>Kofty.com.tn</h1>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'divers']"><i class="ti-shopping-cart"></i><span>Divers</span></a>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'basic']"><i class="ti-shopping-cart"></i><span>Basic</span></a>
            </div>
          </div>
        </div>
        <div class="bg-image" style="background-image: url(../assets/images/carrefours.jpg)">
          <div class="section-xl bg-black-05">
            <div class="container text-center">
              <h5 class="font-weight-light margin-bottom-20">
                  Bienvenue</h5>
              <h1>Kofty.com.tn</h1>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'divers']"><i class="ti-shopping-cart"></i><span>Divers</span></a>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'basic']"><i class="ti-shopping-cart"></i><span>Basic</span></a>
            </div>
          </div>
        </div>
        <!-- Slider box 2 -->
        <div class="bg-image" style="background-image: url(../assets/images/Géant-Tunisie.jpg)">
          <div class="section-xl bg-black-05">
            <div class="container text-center">
              <h5 class="font-weight-light margin-bottom-20">Bienvenuer</h5>
              <h1>Kofty.com.tn</h1>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'divers']"><i class="ti-shopping-cart"></i><span>Divers</span></a>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'basic']"><i class="ti-shopping-cart"></i><span>Basic</span></a>
            </div>
          </div>
        </div>
        <div class="bg-image" style="background-image: url(../assets/images/aziza.png)">
          <div class="section-xl bg-black-05">
            <div class="container text-center">
              <h5 class="font-weight-light margin-bottom-20">Bienvenue</h5>
              <h1>Kofty.com.tn</h1>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'divers']"><i class="ti-shopping-cart"></i><span>Divers</span></a>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'basic']"><i class="ti-shopping-cart"></i><span>Basic</span></a>
            </div>
          </div>
        </div>
        <div class="bg-image" style="background-image: url(../assets/images/Magasin-General.jpg)">
          <div class="section-xl bg-black-05">
            <div class="container text-center">
              <h5 class="font-weight-light margin-bottom-20">Bienvenue</h5>
              <h1>Kofty.com.tn</h1>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'divers']"><i class="ti-shopping-cart"></i><span>Divers</span></a>
              <a class="button button-xl button-reveal-left-outline-white margin-top-20" [routerLink]="['cart', 'basic']"><i class="ti-shopping-cart"></i><span>Basic</span></a>
            </div>
          </div>
        </div>
        
      </div><!-- end owl-carousel -->
      <!-- end Home section -->
      
      <div class="container">
            <router-outlet></router-outlet>
        </div>

      <!-- section -->
      <div class="section-xl bg-image parallax" style="background-image: url(../assets/images/market.jpg)">
        <div class="bg-black-06">
          <div class="container text-right">
            <h1 class="font-weight-thin">Les nouveaux promotion sont ici</h1>
            <a class="button button-xl button-reveal-right-outline-white margin-top-30" [routerLink]="['produit-promo']"><span>
              Achetez maintenant</span><i class="ti-shopping-cart"></i></a>
          </div><!-- end container -->
        </div>
      </div>
      <!-- end section -->
    
      <!-- Product Categories -->
      <div class="section">
        <div class="container">
          <div class="section-title text-center">
            <h3>Parcourir nos catégories</h3>
          </div>
          <div class="owl-carousel" data-owl-nav="true" data-owl-dots="false" data-owl-margin="30" data-owl-xs="1" data-owl-sm="2" data-owl-md="2" data-owl-lg="2" data-owl-xl="2">
            <div class="hoverbox-8">
              <a href="#">
                <img src="../assets/images/shop-category-jackets.jpg" alt="">
                <div class="content">
                  <h6 class="heading-uppercase margin-0">Jackets</h6>
                </div>
              </a>
            </div>
            <div class="hoverbox-8">
              <a href="#">
                <img src="../assets/images/shop-category-shirts.jpg" alt="">
                <div class="content">
                  <h6 class="heading-uppercase margin-0">Shirts</h6>
                </div>
              </a>
            </div>
            <div class="hoverbox-8">
              <a href="#">
                <img src="../assets/images/shop-category-shoes.jpg" alt="">
                <div class="content">
                  <h6 class="heading-uppercase margin-0">Shoes</h6>
                </div>
              </a>
            </div>
            <div class="hoverbox-8">
              <a href="#">
                <img src="../assets/images/shop-category-bags.jpg" alt="">
                <div class="content">
                  <h6 class="heading-uppercase margin-0">Bags</h6>
                </div>
              </a>
            </div>
          </div><!-- end owl-carousel -->
        </div><!-- end container -->
      </div>
      <!-- end Product Categories -->
    
      <!-- Products list -->
      <div class="section no-padding-top">
        <div class="container">
          <div class="row">
            <!-- Products list box 1 -->
            <div class="col-12 col-lg-4">
              <div class="product-list">
                <h6 class="heading-uppercase">NOUVEAU</h6>
                <ul>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-sweater-blue-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">Blue Sweater</a></h6>
                      <div class="product-price">
                        <h6>$39</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-shirt-grey-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">Grey T-Shirt</a></h6>
                      <div class="product-price">
                        <h6>$19</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-sweater-red-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">Red Sweater</a></h6>
                      <div class="product-price">
                        <h6>$39</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div><!-- end product-list -->
            </div><!-- end col -->
            <!-- Products list box 2 -->
            <div class="col-12 col-lg-4">
              <div class="product-list">
                
                <h6 class="heading-uppercase">Meilleure vente</h6>
                <ul>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-shirt-black-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">Black T-Shirt</a></h6>
                      <div class="product-price">
                        <h6><span>$19</span>$14</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-sneakers-white-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">White Sneakers</a></h6>
                      <div class="product-price">
                        <h6>$59</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-snapback-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">Black Snapback</a></h6>
                      <div class="product-price">
                        <h6><span>$19</span>$14</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div><!-- end product-list -->
            </div><!-- end col -->
            <!-- Products list box 3 -->
            <div class="col-12 col-lg-4">
              <div class="product-list">
                <h6 class="heading-uppercase">Les mieux notés</h6>
                <ul>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-sweater-white-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">White Sweater</a></h6>
                      <div class="product-price">
                        <h6>$39</h6>
                      </div>
                      <!-- Product Rating -->
                      <div class="product-rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-snapback-side-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">Black Snapback</a></h6>
                      <div class="product-price">
                        <h6>$19</h6>
                      </div>
                      <!-- Product Rating -->
                      <div class="product-rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="product-list-img">
                      <a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">
                        <img src="../assets/images/shop-shirt-white-sm.jpg" alt="">
                      </a>
                    </div>
                    <div class="product-list-info">
                      <h6 class="font-weight-normal"><a href="http://mono.flatheme.net/Shop/Other/Product-Single.html">White T-Shirt</a></h6>
                      <div class="product-price">
                        <h6>$19</h6>
                      </div>
                      <!-- Product Rating -->
                      <div class="product-rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div><!-- end product-list -->
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
      <!-- end Products list -->
    
      <footer>
        <div class="footer bg-dark">
          <div class="container">
            <div class="row col-spacing-40">
              <div class="col-12 col-md-6 col-lg-3">
                <h3>Kofty</h3>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <h6 class="heading-uppercase">Useful Links</h6>
                <ul class="list-dash">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Prices</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <h6 class="heading-uppercase">Additional Links</h6>
                <ul class="list-dash">
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Process</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <h6 class="heading-uppercase">Contact Info</h6>
                <ul class="list-unstyled">
                  <li>121 King St, Melbourne VIC 3000</li>
                  <li>contact@example.com</li>
                  <li>+(123) 456 789 01</li>
                </ul>
              </div>
            </div><!-- end row(1) -->
  
            <hr class="margin-top-50 margin-bottom-30">
  
            <div class="row">
              <div class="col-12 col-md-6 text-center text-md-left">
                <p>&copy; 2019 FlaTheme, All Rights Reserved.</p>
              </div>
              <div class="col-12 col-md-6 text-center text-md-right">
                <ul class="list-horizontal-unstyled">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div><!-- end row(2) -->
          </div><!-- end container -->
        </div><!-- end footer -->
      </footer>